<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jumpUp</key>
	<dict>
		<key>frames</key>
		<array>
			<string>jump0.png</string>
			<string>jump1.png</string>
		</array>
		<key>looping</key>
		<false/>
		<key>delay</key>
		<real>0.07000000000000001</real>
	</dict>
	<key>land</key>
	<dict>
		<key>frames</key>
		<array>
			<string>jump6.png</string>
			<string>jump7.png</string>
		</array>
		<key>looping</key>
		<false/>
		<key>delay</key>
		<real>0.07000000000000001</real>
	</dict>
	<key>run</key>
	<dict>
		<key>frames</key>
		<array>
			<string>run1.png</string>
			<string>run2.png</string>
			<string>run3.png</string>
			<string>run4.png</string>
			<string>run5.png</string>
			<string>run6.png</string>
			<string>run7.png</string>
			<string>run0.png</string>
		</array>
		<key>looping</key>
		<true/>
		<key>delay</key>
		<real>0.07000000000000001</real>
	</dict>
	<key>fireball</key>
	<dict>
		<key>frames</key>
		<array>
			<string>explosion-00.png</string>
			<string>explosion-02.png</string>
			<string>explosion-04.png</string>
			<string>explosion-06.png</string>
			<string>explosion-08.png</string>
			<string>explosion-10.png</string>
			<string>explosion-12.png</string>
			<string>explosion-14.png</string>
			<string>explosion-16.png</string>
			<string>explosion-18.png</string>
			<string>explosion-20.png</string>
			<string>explosion-22.png</string>
			<string>explosion-24.png</string>
			<string>explosion-26.png</string>
			<string>explosion-28.png</string>
			<string>explosion-30.png</string>
			<string>explosion-32.png</string>
			<string>explosion-34.png</string>
			<string>explosion-36.png</string>
			<string>explosion-38.png</string>
		</array>
		<key>looping</key>
		<false/>
		<key>delay</key>
		<real>0.008</real>
	</dict>
	<key>jumpDown</key>
	<dict>
		<key>frames</key>
		<array>
			<string>jump2.png</string>
			<string>jump3.png</string>
			<string>jump4.png</string>
			<string>jump5.png</string>
		</array>
		<key>looping</key>
		<false/>
		<key>delay</key>
		<real>0.07000000000000001</real>
	</dict>
	<key>walk</key>
	<dict>
		<key>frames</key>
		<array>
			<string>walk1.png</string>
			<string>walk2.png</string>
			<string>walk3.png</string>
			<string>walk4.png</string>
			<string>walk5.png</string>
			<string>walk6.png</string>
			<string>walk7.png</string>
			<string>walk0.png</string>
		</array>
		<key>looping</key>
		<true/>
		<key>delay</key>
		<real>0.2</real>
	</dict>
	<key>sword</key>
	<dict>
		<key>frames</key>
		<array>
			<string>sword.00.png</string>
			<string>sword.01.png</string>
			<string>sword.02.png</string>
			<string>sword.03.png</string>
			<string>sword.04.png</string>
			<string>sword.05.png</string>
			<string>sword.06.png</string>
		</array>
		<key>looping</key>
		<false/>
		<key>delay</key>
		<real>0.02</real>
	</dict>
</dict>
</plist>
