<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.blue.down.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>button.blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>button.red.down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>button.red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>feather.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,122},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>gem1.down.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,148},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>gem1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,148},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>gem2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,154},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>gem3.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,148},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>gem4.down.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,147},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>gem4.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,129},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,122},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>jump0.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,392},{24,67}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{24,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,392},{34,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{34,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>jump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{32,65}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{32,65}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>jump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{22,65}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{22,65}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>jump4.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,392},{20,69}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{20,69}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>jump5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{22,69}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{22,69}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>jump6.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,392},{20,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{20,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>jump7.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,120},{26,61}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{26,61}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>run0.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,461},{40,63}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{40,63}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,84},{36,61}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{36,61}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,114},{26,61}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{26,61}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,82},{36,61}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{36,61}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{40,63}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{40,63}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,65},{36,61}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{36,61}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,86},{26,61}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{26,61}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{36,61}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{36,61}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,128},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk0.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,26},{32,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,62}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,62},{22,62}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{22,62}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,65},{18,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{18,62}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,36},{24,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{24,62}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{32,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,62}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,60},{22,62}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{22,62}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,62},{18,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{18,62}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,36},{24,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{24,62}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>frames.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6360e9dd6fadd18cfec754d78f28959f$</string>
            <key>textureFileName</key>
            <string>frames.png</string>
        </dict>
    </dict>
</plist>
